In [1]:
import pandas as pd
import numpy as np

In [2]:
url = r'C:\Users\PC\Desktop\Projetos\Python\Projeto IPCA\Tabela 7060_ipca.xlsx'

dados = pd.read_excel(url, skiprows=2, nrows=2256)

In [7]:
dados.head()

,Mês,"Geral, grupo, subgrupo, item e subitem",Rio Branco (AC),São Luís (MA),Aracaju (SE),Campo Grande (MS),Goiânia (GO),Brasília (DF),RM de Belém (PA),RM de Fortaleza (CE),RM de Recife (PE),RM de Salvador (BA),RM de Belo Horizonte (MG),RM da Grande Vitória (ES),RM do Rio de Janeiro (RJ),RM de São Paulo (SP),RM de Curitiba (PR),RM de Porto Alegre (RS)
0,janeiro 2024,1.Alimentação e bebidas,1.41,1.99,1.7,1.06,2.22,0.85,2.7,1.72,0.87,1.38,2.73,1.98,1.18,0.74,1.5,1.06
1,janeiro 2024,11.Alimentação no domicílio,1.65,2.3,2.23,1.3,2.9,1.39,3.31,2.08,1.16,1.73,3.57,2.38,1.63,1.03,1.79,1.31
2,janeiro 2024,"1101.Cereais, leguminosas e oleaginosas",7.69,8.52,4.86,5.86,8.82,6.13,8.14,7.75,7.92,7.64,7.22,6.67,5.92,5.76,6.24,7.1
3,janeiro 2024,1101002.Arroz,7.59,8.5,6.58,5.1,8.61,5.91,8.42,5.99,7.87,6.27,6.95,6.2,6.07,4.63,7.75,7.23
4,janeiro 2024,1101051.Feijão - mulatinho,-,12.49,-,-,-,-,-,-,6.42,3.93,-,-,-,-,-,-

# Tratamentos

    - alterar nome das colunas:
        - 'Geral, grupo, subgrupo, item e subitem' para Items
        - Coluna de estados apenas para siglas
        - Meses para apenas meses do ano
    - tratar nomes de dados:
        - coluna de items para apenas os nomes, sem numeros
    - tratar valores:
        - trocar vazios para 0.0
        - mudar para float64

In [ ]:
# tratando nome de colunas
dados = dados.rename(columns={
       'Geral, grupo, subgrupo, item e subitem': 'Itens', 
       'Rio Branco (AC)' : 'AC',
       'São Luís (MA)':'MA', 
       'Aracaju (SE)':'SE',
       'Campo Grande (MS)':'MS', 
       'Goiânia (GO)':'GO', 
       'Brasília (DF)':'DF',
       'RM de Belém (PA)': 'PA',
       'RM de Fortaleza (CE)' : 'CE',
       'RM de Recife (PE)' : 'PE',
       'RM de Salvador (BA)' : 'BA',
       'RM de Belo Horizonte (MG)' : 'MG',
       'RM da Grande Vitória (ES)' : 'ES',
       'RM do Rio de Janeiro (RJ)' : 'RJ',
       'RM de São Paulo (SP)' : 'SP', 
       'RM de Curitiba (PR)' : 'PR',
       'RM de Porto Alegre (RS)' : 'RS'                
                              })

In [ ]:
# tratando coluna mes
dados['Mês'] = dados['Mês'].str.replace('[0-9]', '', regex=True)

In [21]:
# tratando coluna de itens
# ^: indica o início da string.
# \d+: corresponde a um ou mais dígitos.
dados['Itens'] = dados['Itens'].str.replace('^\d+\.', '', regex=True)

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\PC\AppData\Local\Temp\ipykernel_13132\2871686057.py:4: SyntaxWarning: invalid escape sequence '\d'
  dados['Itens'] = dados['Itens'].str.replace('^\d+\.', '', regex=True)

In [41]:
# tratando valores nulos e alterando tipo para format
col_numericas = list(dados.columns)

dados[col_numericas[2:]] = dados[col_numericas[2:]].apply(lambda x: x.replace('-', '0.0')).astype(np.float64)

In [46]:
# preciso excluir os dados que podem poluir a analise, ex.:Alimentação e bebidas que é a media desse grupo ou Cereais, leguminosas e oleaginosas
dados['Itens'].unique().tolist()

exclusao = [
'Alimentação e bebidas',
'Cereais, leguminosas e oleaginosas',
'Farinhas, féculas e massas',
'Açúcares e derivados',
'Hortaliças e verduras',
'Frutas',
'Carnes',
'Pescados',
'Carnes e peixes industrializados', 
'Aves e ovos',
'Leites e derivados',
'Panificados',
'Óleos e gorduras',
'Bebidas e infusões',
'Enlatados e conservas',
'Sal e condimentos',
'Alimentação fora do domicílio'
]

dados.query('Itens not in @exclusao')

,Mês,Itens,AC,MA,SE,MS,GO,DF,PA,CE,PE,BA,MG,ES,RJ,SP,PR,RS
1,janeiro,Alimentação no domicílio,1.65,2.30,2.23,1.30,2.90,1.39,3.31,2.08,1.16,1.73,3.57,2.38,1.63,1.03,1.79,1.31
3,janeiro,Arroz,7.59,8.50,6.58,5.10,8.61,5.91,8.42,5.99,7.87,6.27,6.95,6.20,6.07,4.63,7.75,7.23
4,janeiro,Feijão - mulatinho,0.00,12.49,0.00,0.00,0.00,0.00,0.00,0.00,6.42,3.93,0.00,0.00,0.00,0.00,0.00,0.00
5,janeiro,Feijão - preto,0.00,0.00,0.00,0.00,0.00,3.28,5.35,0.00,0.00,0.00,0.00,8.37,5.56,0.00,4.83,12.13
6,janeiro,Feijão - macáçar (fradinho),0.00,0.00,0.00,0.00,0.00,0.00,0.00,13.15,6.03,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2251,dezembro,Cerveja,0.00,0.00,0.04,0.62,-0.11,-0.18,-0.47,1.03,0.54,0.10,-1.42,-0.22,0.70,0.53,1.01,0.82
2252,dezembro,Outras bebidas alcoólicas,0.00,1.91,0.00,1.83,0.00,0.00,0.00,0.00,0.70,0.00,0.00,-0.17,0.00,0.00,0.00,0.00
2253,dezembro,Vinho,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.87,0.00,0.00,0.00
2254,dezembro,Doces,0.00,0.00,0.51,0.00,0.83,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2255,dezembro,Sorvete,0.18,0.00,1.02,0.95,2.45,0.00,0.00,0.50,0.00,0.50,0.00,0.00,0.00,0.95,1.61,0.00